<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    
    <a class="form--submit home " href="/add" >Add Student</a>
    <a class="form--submit home " href="/weak-students" >Weak Student</a>
    
<table>
	<thead>
	<tr class="table-headers">
    <th class="rollno">ROLL NO.</th>
    <th class="name" >NAME</th>
    <th class="ss">SS</th>
    <th class="ss">MPMC</th>
    <th class="ss">MSS</th>
    <th class="ss">FLAT</th>
    <th class="ss">CN</th>
    <th class="ss">DM</th>
	</tr>
	</thead>
	<tbody>
        <% students.forEach(student => { %>
            <tr>
                <td><%= student.rollno %></td>
                <td><%= student.name %></td>
                <td><%= student.ss %></td>
                <td><%= student.mpmc %></td>
                <td><%= student.mss %></td>
                <td><%= student.flat %></td>
                <td><%= student.cn %></td>
                <td><%= student.dm %></td>
                <!-- Add more table cells for other fields if needed -->
            </tr>
        <% }); %>
	</tbody>
</table>
</body>
</html>